.main-image {
  height: 83vh;
  width: 100%;
  overflow: hidden;
}

.main-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-content ul {
  /* list-style-type:circle; */
  padding: 20px; 
  margin: 0; 
}

.main-content li {
  list-style-type: disc !important;
  position: relative; 
  margin-bottom: 1rem; 
  font-size: 1rem; 
  line-height: 1.5; 
}

/* Responsive Design */
@media (max-width: 768px) {
  .main-content {
    padding: 0.5rem; /* Reduce padding on smaller screens */
  }

  .main-content li {
    font-size: 0.875rem; /* Slightly reduce font size on smaller screens */
  }
}

.mansiha1-swiper-cont{
  height: 300px;
}


/* Container for the Swiper slider */
.manisha1-swiper-cont {
  width: 100%;
  height: 400px;
  overflow: hidden; /* Make sure content doesn’t overflow */
  position: relative;
}

/* Ensure Swiper takes full width and height of the parent container */
.swiper-container {
  width: 100%;
  height: 100%;
}

/* Swiper slide styling */
.manisha1-swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; /* Full height for the slide */
}

/* List styling inside Swiper slide */
.manisha1-swiper-slide ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.manisha1-swiper-slide li {
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 1.5;
}

.manisha1-swiper-slide li span {
  font-weight: bold;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .manisha1-swiper-cont {
    height: 300px; /* Adjust height on smaller screens */
  }

  .manisha1-swiper-slide li {
    font-size: 0.875rem;
  }
}
